@model P2WebMVC.Models.DomainModels.Product
@{
    ViewData["Title"] ="Create Product";
}




<div class="container">

    <h3> Create product </h3>

    <form method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="ProductName" class="form-label">Product Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="ProductName">
        </div>

        <div class="mb-3">
            <label for="ProductImage" class="form-label">Product Image</label>
            <input type="file" class="form-control" name="image" >
        </div>

        <div class="mb-3">
            <label for="ProductDescription" class="form-label">Product Description</label>
            <textarea type="text" class="form-control" name="ProductDescription"> </textarea>
        </div>



        <div class="d-flex  gap-3">
            <div class="mb-3">
                <label for="ProductPrice" class="form-label">ProductPrice</label>
                <input type="number" class="form-control" name="ProductPrice" min="10">
            </div>

            <div class="mb-3">
                <label for="ProductStock" class="form-label">Product Stock</label>
                <input type="number" class="form-control" name="ProductStock" min="10" >
            </div>

               <div class="mb-3">
                <label for="Color" class="form-label">Product Color</label>
                <input placeholder="Enter product Colors seperated by comma" type="text" class="form-control" name="Color"  >
            </div>


              <div class="mb-3">
                <label for="Size" class="form-label">Product Sizes</label>
                <input placeholder="Enter product sizes seperated by comma" type="text" class="form-control" name="Size"  >
            </div>

        </div>

        <div class="mb-3">
            <label for="Category" class="form-label">Category</label>
                @Html.DropDownList("Category", (SelectList)ViewBag.CategoryList, "Select Category", new { @class = "form-control" }) 
        </div>


        <button  class="btn btn-outline-success" type="submit"> Create product </button>

    </form>

    <div class="pt-3">
        <p class="text-danger"> @ViewBag.ErrorMessage </p>
    </div>




</div>