@model P2WebMVC.Models.ViewModels.CartView

@{
    ViewData["title"] = "Cart";
}



<h2 class="text-center">  Cart</h2>

<p class="text-muted pb-3">You have @Model?.Cart?.Products?.Count() products in your cart</p>

<div class="row pb-5 " style="justify-content: space-between;"> 

    <b class="col-3"> Product Name</b>

    <b class="col-3"> Picture</b>

    <b class="col-2"> Qty x Price</b>

    <b class="col-2"> Product total</b>

    <b class="col-2 d-flex justify-content-end"> Remove</b>
</div>




@foreach(var product in Model?.CartProducts){



<div class="row " style="display: flex; align-items : center" >


    <p class="text-muted col-3"> @product?.Product?.ProductName</p> 

    <p class="text-muted col-3"> <img class="" src="@product?.Product?.ProductImage" alt="" width="100"> </p> 

    <p class="text-muted col-2"> @product?.Quantity  x  @product?.Product?.ProductPrice   </p>
   
    <p class="text-muted col-2"> Rs.  @(product?.Quantity * product?.Product?.ProductPrice )  </p>

    <p class="text-muted col-2 d-flex justify-content-end"> <a asp-controller="Product" asp-action="removeFromCart" asp-route-ProductId ="@product?.ProductId" class="btn btn-sm btn-danger">Remove</a> </p>


</div>

}


<div class="row " style="justify-content: space-between; align-items: center;">
    <div class="col-3"></div>
    <div class="col-3"></div>
    <b class="col-2 text-muted">Total</b>
    <p class="col-4">Rs. @Model?.Cart?.CartTotal</p>
  
</div>

<div class="row " style="justify-content: space-between; align-items: center;">
    <div class="col-3"></div>
    <div class="col-3"></div>
    <b class="col-2 text-muted">Discount</b>
    <p class="col-4">Rs. 00.00</p>

</div>

<div class="row " style="justify-content: space-between; align-items: center;">
    <div class="col-3"></div>
    <div class="col-3"></div>
    <b class="col-2 text-muted">Amount Payable</b>
    <b class="col-4 ">Rs. @Model?.Cart?.CartTotal</b>
   
</div>



<div class="d-flex justify-content-end mt-3 ">
<a class="btn btn-outline-success" asp-controller="Order" asp-action="Checkout" asp-route-CartId = "@Model?.Cart?.CartId"> Procced To CheckOut</a>
</div>

