

<link rel="stylesheet" href="/css/home.css">
<script src="/js/home.js"  defer> </script>



<div class="container">
    <h1> this is server rendered home page</h1>
    <h2> Welcome To our Website </h2>
    <h4>This Website is under Development</h4>
</div>


    