<style>
    .navbar {
        color: white;
        background-color: black;
        display: flex;
        align-items: center;

        >ul {
            display: flex;
            list-style-type: none;

            >li {
                margin-right: 20px;
                >a{
                    color: aliceblue;
                    text-decoration: none;
                }
            }
        }
    }
</style>




<nav class="navbar">

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">contact</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/register">register</a></li>
        <li><a href="/about">About</a></li>
     
    </ul>


</nav>